@model inventoryAppWebUi.Models.SupplierViewModel


@{
    ViewBag.CurrentPage = "Supplier Details";
}

<div class="table-responsive">
    <table class="table table-hover table-striped text-center">
        <tr class="bg-success">
            <th>Supplier Name</th>
            <th>Status</th>
            <th>Website</th>
            <th></th>
        </tr>
        <tr class="info">
            <td>@Model.SupplierName</td>
            <td>@Model.Status</td>
            <td>@Model.Website</td>
            <td>
                @Html.ActionLink("Drugs Supplied", "GetDrugsBySupplier", "Supplier", new { supplierTag = Model.TagNumber },
                     new { @class = "btn btn-info" })
            </td>
        </tr>
    </table>

</div>
