@{
    ViewBag.Title = "Create";
    ViewBag.CurrentPage = "Create Role";

    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>

<!-- Modal Edit -->
<div class="modal fade" id="edit-note" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="popup text-left">
                    <div class="media align-items-top justify-content-between">
                        <h3>Create Role</h3>
                        <div class="btn-cancel p-0" data-dismiss="modal"><i class="las la-times"></i></div>
                    </div>
                    <div class="content edit-notes">
                        <div class="card card-transparent card-block card-stretch event-note mb-0">
                            <div class="card-body px-0 bukmark">
                                <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                    <div class="quill-tool">
                                    </div>
                                </div>
                                <div id="quill-toolbar1">
                                    @using (Html.BeginForm("Create", "Role", FormMethod.Post))
                                    {
                                        <input type="text" name="roleName" placeholder="Enter Role Name" class="form-control" />

                                        
                                            <div class="d-flex flex-wrap align-items-ceter justify-content-end mt-2">
                                                <input class="btn btn-primary" type="submit" value="Create Role" />
                                            </div>
                                        
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

