@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <!-- Main Content -->
			<div class="container-fluid">				
				<!-- Main Content -->
				<div class="row">
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow min-h200">
							<h3 class="widget-title">Page Heading</h3>
							<!-- 
							Your Content goes Here
							-->
						</div>
					</div>
				</div>
			</div>
			<!-- /Main Content -->
</div>